@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="bg-silver text-white p-3 mt-auto">
  <div class="max-w-screen-2xl mx-auto">
    <div class="flex justify-between items-center">
      <div>
        <p>© Hitachi Vantara LLC 2023. All Rights Reserved.</p>
      </div>
      <div class="flex space-x-6">
        <a href="#" class="border-transparent border-b hover:border-white">
          Export SSL
        </a>
        <a
          href="https://www.hitachivantara.com/en-us/company/legal.websiteterms.html"
          class="border-transparent border-b hover:border-white"
        >
          Terms of Use
        </a>
        <a
          href="https://www.hitachivantara.com/en-us/company/legal.privacy.html"
          class="border-transparent border-b hover:border-white"
        >
          Privacy Policy
        </a>
        <a
          href="https://www.hitachivantara.com/en-us/company/legal.html"
          class="border-transparent border-b hover:border-white"
          >Legal
        </a>
      </div>
    </div>
  </div>
</footer>


