@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WASP - Umbraco</title>

    <link rel="shortcut icon" type="image/svg" href="/img/favicon.svg"/>

    <link rel="stylesheet" href="/css/tailwind_output.css">
</head>
<body class="font-sans bg-gray-100 flex flex-col min-h-screen">

    @* {% include "navbar.html" %}
    {% include "footer.html" %} *@

	@await Html.PartialAsync("Partials/navbar.cshtml")

	@RenderBody()

	@await Html.PartialAsync("Partials/footer.cshtml")


</body>
</html>